@use "_variables" as v;

.info-wrapper {
  width: 70%;
  margin: 50px auto 60px auto;
  ul {
    list-style: none;
  }
}

.country_list-wrapper {
  padding: 32px 0px;
}

.page_options-wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  select {
    height: 2rem;
    font-size: 1rem;
    border: none;
    background-color: v.$blue-primary;
    color: v.$light;
  }
  .numbered-button {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 0;
    border: none;
    background-color: v.$blue-primary;
    color: v.$light;
    &:disabled {
      background-color: v.$blue-alternative;
      color: v.$light;
    }
    &:hover {
      background-color: v.$blue-alternative;
    }
  }
  .page_options-number {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// START COUNTRY LIST

.data-wrapper {
  width: 70%;
  margin: auto;

  a {
    color: v.$light;
  }
  a:hover {
    background-color: v.$light;
    color: v.$blue-secondary;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .grid-header {
    font-weight: bold;
    text-transform: uppercase;
  }
}

// data grid desktop
.data-grid {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "c0 c1 c2 c3 c4 c5";
  border-top: 1px solid v.$light-active;
}
.c0,
.c1,
.c2,
.c3,
.c4,
.c5 {
  padding: 32px 16px;
}
.c0 {
  grid-area: c0;
}
.c1 {
  grid-area: c1;
}
.c2 {
  grid-area: c2;
}
.c3 {
  grid-area: c3;
}
.c4 {
  grid-area: c4;
}
.c5 {
  grid-area: c5;
}

// data grid mobile
.data-gridm {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "c1m c2m";
  border-top: 1px solid v.$light-active;
}
.c1m {
  grid-area: c1m;
  padding: 16px;
}
.c2m {
  grid-area: c2m;
  padding: 16px;
}
// END COUNTRY LIST
