@use "_variables" as v;

nav {
  background-color: v.$blue-secondary;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px v.$dark;
  padding: 20px;
  text-align: center;

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 20px;
  }

  a {
    color: v.$light;
  }

  a.navlink,
  a.navlink:hover {
    color: v.$light;
    opacity: unset;
  }

  ul a.navlink {
    &:hover,
    &.active {
      color: v.$light-active;
      opacity: unset;
    }
  }
}
