// https://coolors.co/000814-001d3d-002752-ff0035
// https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a
$blue-primary: #002752;
$blue-secondary: rgb(4, 20, 38);
$blue-alternative: #485696;
$yellow-primary: #ffd60a;
$yellow-secondary: #ffc300;
$dark: #000814;
$light-dark: #171717;
$light: #e3e3e3;
