:root {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: rgb(4, 20, 38);
  color: #e3e3e3;
  font-family: "Mulish";
}

h1 {
  font-size: 35px;
}

h3 {
  font-size: 21px;
}

h1,
h2,
h3 {
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

fieldset {
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*===============================================================*/
.page-wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.pb-20 {
  padding: 0 20px 20px 20px;
}

/*---------------------------------------------------------------*/
.info-wrapper {
  width: 70%;
  margin: 50px auto 60px auto;
}
.info-wrapper ul {
  list-style: none;
}

/*---------------------------------------------------------------*/
.page_options-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page_options-wrapper select {
  height: 2rem;
  font-size: 1rem;
  border: none;
  background-color: #002752;
  color: #e3e3e3;
}
.page_options-wrapper .numbered-button {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0;
  border: none;
  background-color: #002752;
  color: #e3e3e3;
}
.page_options-wrapper .numbered-button:disabled {
  background-color: #485696;
  color: #e3e3e3;
}
.page_options-wrapper .numbered-button:hover {
  background-color: #485696;
}
.page_options-wrapper .page_options-number {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-item {
  position: relative;
  display: block;
  width: 100%;
}
.item {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.5fr 0.5fr 1fr;
  grid-auto-rows: minmax(150px, auto);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "item-name item-capital item-continents item-population item-languages";
  background-image: linear-gradient(45deg, hsl(211deg, 100%, 16%) 0%, hsl(212deg, 98%, 17%) 13%, hsl(213deg, 94%, 19%) 19%, hsl(214deg, 90%, 20%) 24%, hsl(215deg, 87%, 21%) 28%, hsl(216deg, 84%, 23%) 32%, hsl(217deg, 82%, 24%) 35%, hsl(217deg, 78%, 25%) 39%, hsl(218deg, 75%, 27%) 42%, hsl(219deg, 72%, 28%) 45%, hsl(220deg, 69%, 29%) 48%, hsl(221deg, 66%, 30%) 52%, hsl(222deg, 63%, 32%) 55%, hsl(223deg, 60%, 33%) 58%, hsl(223deg, 57%, 34%) 61%, hsl(224deg, 54%, 36%) 65%, hsl(225deg, 50%, 37%) 68%, hsl(226deg, 48%, 38%) 72%, hsl(227deg, 45%, 40%) 76%, hsl(227deg, 41%, 41%) 81%, hsl(229deg, 38%, 42%) 87%, hsl(229deg, 35%, 44%) 100%);
  border: 1px solid #171717;
  color: #e3e3e3;
  text-align: center;
  font-size: 24px;
}
@media (max-width: 720px) {
  .item {
    grid-template-columns: 100%;
    grid-template-areas: "item-name";
    grid-auto-rows: minmax(0px, auto);
  }
}
.item div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.item .item-name {
  grid-area: item-name;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.9);
}
@media (max-width: 720px) {
  .item .item-name {
    height: 150px;
  }
}
.item .item-capital {
  grid-area: item-capital;
}
.item .item-continents {
  grid-area: item-continents;
}
.item .item-population {
  grid-area: item-population;
}
.item .item-languages {
  grid-area: item-languages;
}
.item .data-grid-mobile {
  display: none;
  height: 0;
  opacity: 0;
  transition: all 600ms ease-in-out;
  font-size: 18px;
}
.item .data-grid-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(1fr, auto);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "item-capital1_Mobile item-capital2_Mobile" "item-continents1_Mobile item-continents2_Mobile" "item-population1_Mobile item-population2_Mobile" "item-languages1_Mobile item-languages2_Mobile";
}
.item .item-capital1_Mobile {
  grid-area: item-capital1_Mobile;
}
.item .item-capital2_Mobile {
  grid-area: item-capital2_Mobile;
}
.item .item-continents1_Mobile {
  grid-area: item-continents1_Mobile;
}
.item .item-continents2_Mobile {
  grid-area: item-continents2_Mobile;
}
.item .item-population1_Mobile {
  grid-area: item-population1_Mobile;
}
.item .item-population2_Mobile {
  grid-area: item-population2_Mobile;
}
.item .item-languages1_Mobile {
  grid-area: item-languages1_Mobile;
}
.item .item-languages2_Mobile {
  grid-area: item-languages2_Mobile;
}

nav {
  background-image: linear-gradient(45deg, hsl(211deg, 100%, 16%) 0%, hsl(212deg, 98%, 17%) 13%, hsl(213deg, 94%, 19%) 19%, hsl(214deg, 90%, 20%) 24%, hsl(215deg, 87%, 21%) 28%, hsl(216deg, 84%, 23%) 32%, hsl(217deg, 82%, 24%) 35%, hsl(217deg, 78%, 25%) 39%, hsl(218deg, 75%, 27%) 42%, hsl(219deg, 72%, 28%) 45%, hsl(220deg, 69%, 29%) 48%, hsl(221deg, 66%, 30%) 52%, hsl(222deg, 63%, 32%) 55%, hsl(223deg, 60%, 33%) 58%, hsl(223deg, 57%, 34%) 61%, hsl(224deg, 54%, 36%) 65%, hsl(225deg, 50%, 37%) 68%, hsl(226deg, 48%, 38%) 72%, hsl(227deg, 45%, 40%) 76%, hsl(227deg, 41%, 41%) 81%, hsl(229deg, 38%, 42%) 87%, hsl(229deg, 35%, 44%) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px #000814;
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 20px;
}
nav a,
nav a:hover {
  color: #e3e3e3;
  opacity: unset;
}
nav ul a:hover, nav ul a.active {
  color: #ffc300;
  opacity: unset;
}

.country-container {
  width: clamp(75%, 720px, 100%);
  padding: 64px 0 16px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.country-container h2 {
  font-size: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.country-container hr {
  width: 50%;
  padding: 1px;
  background-color: #e3e3e3;
  border: none;
  margin: 16px 0;
}
.country-container img {
  max-width: 100%;
  height: auto;
}
.country-container .section-1 {
  width: auto;
  height: auto;
  text-align: center;
  padding: 1rem;
}
.country-container .section-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 25px 14px rgba(0, 0, 0, 0.1);
  margin: 3rem 0;
  padding: 1rem;
  border-radius: 20px;
  background-image: linear-gradient(45deg, hsl(211deg, 100%, 16%) 0%, hsl(212deg, 98%, 17%) 13%, hsl(213deg, 94%, 19%) 19%, hsl(214deg, 90%, 20%) 24%, hsl(215deg, 87%, 21%) 28%, hsl(216deg, 84%, 23%) 32%, hsl(217deg, 82%, 24%) 35%, hsl(217deg, 78%, 25%) 39%, hsl(218deg, 75%, 27%) 42%, hsl(219deg, 72%, 28%) 45%, hsl(220deg, 69%, 29%) 48%, hsl(221deg, 66%, 30%) 52%, hsl(222deg, 63%, 32%) 55%, hsl(223deg, 60%, 33%) 58%, hsl(223deg, 57%, 34%) 61%, hsl(224deg, 54%, 36%) 65%, hsl(225deg, 50%, 37%) 68%, hsl(226deg, 48%, 38%) 72%, hsl(227deg, 45%, 40%) 76%, hsl(227deg, 41%, 41%) 81%, hsl(229deg, 38%, 42%) 87%, hsl(229deg, 35%, 44%) 100%);
}
.country-container .section-2 img {
  max-width: 80%;
  height: auto;
}
.country-container .section-2 .section-half {
  width: 50%;
  height: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 720px) {
  .country-container .section-2 .section-half {
    width: 100%;
  }
}
.country-container .section-2 .section-half .data-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "a1 a2" "b1 b2" "c1 c2" "d1 d2" "e1 e2" "f1 f2";
  background-color: rgb(4, 20, 38);
  border-radius: 20px;
  box-shadow: 0 0 25px 14px rgba(0, 0, 0, 0.1);
}
.country-container .section-2 .section-half .data-table div {
  padding: 1.5rem;
}
.country-container .section-2 .section-half .a1 {
  grid-area: a1;
  font-weight: bold;
}
.country-container .section-2 .section-half .a2 {
  grid-area: a2;
}
.country-container .section-2 .section-half .b1 {
  grid-area: b1;
  font-weight: bold;
}
.country-container .section-2 .section-half .b2 {
  grid-area: b2;
}
.country-container .section-2 .section-half .c1 {
  grid-area: c1;
  font-weight: bold;
}
.country-container .section-2 .section-half .c2 {
  grid-area: c2;
}
.country-container .section-2 .section-half .d1 {
  grid-area: d1;
  font-weight: bold;
}
.country-container .section-2 .section-half .d2 {
  grid-area: d2;
}
.country-container .section-2 .section-half .e1 {
  grid-area: e1;
  font-weight: bold;
}
.country-container .section-2 .section-half .e2 {
  grid-area: e2;
}
.country-container .section-2 .section-half .f1 {
  grid-area: f1;
  font-weight: bold;
}
.country-container .section-2 .section-half .f2 {
  grid-area: f2;
  text-transform: capitalize;
}

.filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
  background-image: linear-gradient(45deg, hsl(211deg, 100%, 16%) 0%, hsl(212deg, 98%, 17%) 13%, hsl(213deg, 94%, 19%) 19%, hsl(214deg, 90%, 20%) 24%, hsl(215deg, 87%, 21%) 28%, hsl(216deg, 84%, 23%) 32%, hsl(217deg, 82%, 24%) 35%, hsl(217deg, 78%, 25%) 39%, hsl(218deg, 75%, 27%) 42%, hsl(219deg, 72%, 28%) 45%, hsl(220deg, 69%, 29%) 48%, hsl(221deg, 66%, 30%) 52%, hsl(222deg, 63%, 32%) 55%, hsl(223deg, 60%, 33%) 58%, hsl(223deg, 57%, 34%) 61%, hsl(224deg, 54%, 36%) 65%, hsl(225deg, 50%, 37%) 68%, hsl(226deg, 48%, 38%) 72%, hsl(227deg, 45%, 40%) 76%, hsl(227deg, 41%, 41%) 81%, hsl(229deg, 38%, 42%) 87%, hsl(229deg, 35%, 44%) 100%);
}
.filter-wrapper form {
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  letter-spacing: 1.2px;
  box-shadow: 0 0 25px 14px rgba(0, 0, 0, 0.1);
}
.filter-wrapper form .fieldset-checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.filter-wrapper form .fieldset-checkboxes .div-continents,
.filter-wrapper form .fieldset-checkboxes .div-independent {
  width: 50%;
}
.filter-wrapper form .fieldset-search > input {
  width: 80%;
  padding: 15px 0;
  background-color: transparent;
  border: none;
  color: #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
  font-size: 1.3rem;
  transition: width 0.5s;
}
.filter-wrapper form .fieldset-search > input:focus {
  width: 100%;
  transition: width 0.5s;
}
.filter-wrapper fieldset {
  padding: 30px;
}

/*# sourceMappingURL=index.css.map */
